<?xml version="1.0" ?>

<robot name="diffamrbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Load Simulated or Real Hardware Interfaces-->
     <xacro:arg name="is_sim" default="true"/>

     <xacro:include filename="$(find diff_amr_description)/urdf/diff_amr_base.xacro"/>
     <xacro:include filename="$(find diff_amr_description)/urdf/diff_amr_sensors.xacro"/>
     <xacro:include filename="$(find diff_amr_description)/urdf/diff_amr_gazebo.xacro"/>
     <xacro:include filename="$(find diff_amr_description)/urdf/diff_amr_ros2control.xacro"/> 
</robot>